@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --notez-yellow-100: #FFEB3A;
  --notez-yellow-200: #FFEB00;
  --notez-grey-100: #9F9F9F;
  --notez-grey-200: #dbdbdb;
}

/* resetting default styles i.e. margin, padding to 0 and border-box */
*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background: linear-gradient(to bottom, var(--notez-yellow-100) 35%,
  white 35%, white 30%);
 background-attachment: fixed;
}

body {
  height: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;

}

.card-layout {
  display: grid;
  gap:32px;
  grid-template-columns: repeat(auto-fit,180px);
}